body{
	line-height: 1.7em; font-family: 'Roboto', sans-serif;
	background: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;

}

.page{
	color: rgba(255, 255, 255, 0.8);
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.topBar{
	background-color: white;
	height: 30px;
	margin: 0;
}

.icons{
	float: right;
	margin-right: 30px;
}

.socialsItem{
	display: inline-block;
	text-align: center;
	background-color: #c8c8c8;
	height: 30px;
	width: 30px;
}

.logo{
	margin-top: 190px;
	text-align: center;
}

.image{
	height: 125px;
	width: 240px;
}

.nav{
	margin-top: 30px;
	text-align: center;
}

a:hover {
	color: darkgrey;
}

a{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.menuLogo{
	display: inline-block;
}

.menuText{
	display: block;
	font-size: 14px;
}

.menuItem{
	display: inline-block;
	text-align: center;
	margin-right: 35px;
}

.features{
	color: lightgrey;
	margin-top: 60px;
}

.square{
	height: 500px;
	width: 500px;
	background-color: silver;
	color: black;
	font-size: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.profilePicture{
	float: right;
	margin-right: 50px;
	margin-top: 50px;

}

.parfume{
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}

.contact{
	font-size: 20px;
}